{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/d3-tip.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/main.css" %}" />
{% endblock %}

{% block pretitle %}
  <div style="overflow: hidden; width: 100%">
    <div id="world-map" class="stats-widget" style="width: 700px; height: 475px;"></div>
    <div id="devices-stats" class="stats-widget"></div>
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}

  <script src="{% static 'admin/js/vendor/d3/d3.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/topojson/topojson.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/datamaps/datamaps.world.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/d3-tip/d3-tip.min.js' %}"></script>

  <script>
    var countries = {% if countries_count %}{{ countries_count|safe }}{% else %}null{% endif %};
    var devices = '{{ devices_count|safe }}';
  </script>

  <script src="{% static 'admin/js/world_map.js' %}"></script>
  <script src="{% static 'admin/js/devices_stats.js' %}"></script>
{% endblock %}